@use "@/styles/mixins" as *;

@layer parts {
  .row {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: var(--space-2);
    align-items: center;
  }

  .type-select {
    grid-column: 1 / -1;
  }

  @include from-sm {
    .row {
      grid-template-columns: 9rem 1fr auto;
    }

    .type-select {
      grid-column: auto;
    }
  }
}
